.container {
  color: white;
  background-color: #473838;
  max-width: 1440px;
  min-height: 100vh;
  padding: 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body {
  background-color: #373232;
}
.header-link {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  font-size: 22px;
  text-decoration: none;
  margin-right: 15px;

  transition: all 0.3s;
}

.header-link.active {
  border: 1px solid white;
  background-color: black;
  color: white;
}
