.container {
  color: white;
  background-color: #473838;
  width: 1440px;
  min-height: 100vh;
  padding: 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.home {
  margin-left: 40px;
}
.header-container {
  width: 375px;
}
.body {
  background-color: #373232;
}
.header-link {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  font-size: 22px;
  text-decoration: none;
  margin-right: 15px;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.header-link.active {
  border: 1px solid white;
  background-color: black;
  color: white;
}

.btnDelete {
  min-width: 100px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
@media only screen and (max-width: 767px) {
  .home {
    padding: 5px;
    margin-left: 20px;
  }
  .headerLink {
    padding: 5px;
  }
  .navContainer {
    gap: 15px;
  }
}
@media only screen and (min-width: 768px) {
  /* .container {
    width: 375px;
    padding: 0px;
  } */
  .navContainer {
    gap: 40px;
  }

  .home {
    padding: 20px;
    margin-left: 40px;
  }
  .headerLink {
    padding: 20px;
    margin-left: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  .navContainer {
    display: block;
  }
}
@media only screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

.btnDelete:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btnDelete:active {
  color: #000;
}

.btnDelete:active:after {
  background: transparent;
}

.btnDelete:hover:before {
  opacity: 1;
}

.btnDelete:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
