@import-normalize; /* bring in normalize.css styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  color: white;
  background-color: #7d7c6c;
  min-width: 320px;
  min-height: 100vh;
  padding: 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* @media only screen and (max-width: 425px) {
  .container {
    max-width: 375px;
    padding: 0px;
  }
  .headerLink {
    padding: 0;
  }
} */
/* .navContainer {
  display: flex;
} */
@media only screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    min-width: 1024px;
    padding: 0px;
  }
}
